.under-construction {
	background-image: url('~/images/black-board.jpg');
}
.intro {
	background-image: url('~/images/4k-wallpaper-adorable-blur-1148998.jpg');
}
.large-header {
    background-image: url('~/images/blog_img1.jpg');
}
/*.main-menu { 
	background-image: url('~/images/bg_2.jpg');
}*/



/*body { 
	background-image: url('~/images/bg_2.jpg');
}*/
